body{
    height: 100%;
    width: 100%;
    background-color: rgba(78, 75, 75, 0.595);
    color: rgba(0, 0, 0, 0.557);
}
.center{
    text-align: center;
    justify-content: center;
}
.input {
    border: 3px solid rgba(104, 205, 26, 0.6);
    border-radius: 15px;
    color: black;
    /* border-radius: 4px; */
    /* width: 80px; */
    text-decoration: none;
    outline: none;
    height: 80px;
    padding: 10px 40px;
    font-size: xx-large;
    margin: 10px;
}
button{
    /* border: 3px solid rgba(52, 109, 9, 0.413); */
    border-radius: 15px;
    color: black;
    /* border-radius: 4px; */
    width: 80px;
    height: 80px;
    padding: 1px;
    font-size: xx-large;
    margin: 10px;
}
button:hover{
    background-color: grey;
    cursor: pointer;
}